:root {
   /* === UTOPIA TYPE SCALE (lo que pasaste) === */
   --step--2: clamp(0.4924rem, 0.464rem + 0.1265vw, 0.5628rem);
   --step--1: clamp(0.6564rem, 0.6185rem + 0.1686vw, 0.7502rem);
   --step-0:  clamp(0.875rem,  0.8244rem + 0.2247vw, 1rem);
   --step-1:  clamp(1.1664rem, 1.099rem + 0.2996vw, 1.333rem);
   --step-2:  clamp(1.5548rem, 1.4649rem + 0.3993vw, 1.7769rem);
   --step-3:  clamp(2.0725rem, 1.9528rem + 0.5323vw, 2.3686rem);
   --step-4:  clamp(2.7627rem, 2.603rem + 0.7095vw, 3.1573rem);
   --step-5:  clamp(3.6826rem, 3.4698rem + 0.9458vw, 4.2087rem);

  /* Step -3: 9.2593px → 11.5741px */
  --type--3: clamp(0.5787rem, 0.5465rem + 0.1474vw, 0.7234rem);
  /* Step -2: 11.1111px → 13.8889px */
  --type--2: clamp(0.6944rem, 0.6557rem + 0.1769vw, 0.8681rem);
  /* Step -1: 13.3333px → 16.6667px */
  --type--1: clamp(0.8333rem, 0.7869rem + 0.2123vw, 1.0417rem);
  /* Step 0: 16px → 20px */
  --type-0: clamp(1rem, 0.9443rem + 0.2548vw, 1.25rem);
  /* Step 1: 19.2px → 24px */
  --type-1: clamp(1.2rem, 1.1331rem + 0.3057vw, 1.5rem);
  /* Step 2: 23.04px → 28.8px */
  --type-2: clamp(1.44rem, 1.3597rem + 0.3669vw, 1.8rem);
  /* Step 3: 27.648px → 34.56px */
  --type-3: clamp(1.728rem, 1.6317rem + 0.4403vw, 2.16rem);
  /* Step 4: 33.1776px → 41.472px */
  --type-4: clamp(2.0736rem, 1.958rem + 0.5283vw, 2.592rem);
  /* Step 5: 39.8131px → 49.7664px */
  --type-5: clamp(2.4883rem, 2.3496rem + 0.634vw, 3.1104rem);
  /* Step 6: 47.7757px → 59.7197px */
  --type-6: clamp(2.986rem, 2.8196rem + 0.7608vw, 3.7325rem);
  /* Step 7: 57.3309px → 71.6636px */
  --type-7: clamp(3.5832rem, 3.3835rem + 0.9129vw, 4.479rem);

   /* === SPACING ===*/
   --space--2: clamp(0.25rem, 0.23rem + 0.1vw, 0.375rem);
   --space--1: clamp(0.375rem,0.34rem + 0.2vw, 0.5rem);
   --space-0:  clamp(0.5rem,  0.45rem + 0.25vw,0.75rem);
   --space-1:  clamp(0.75rem, 0.7rem + 0.3vw,  1rem);
   --space-2:  clamp(1rem,    0.9rem + 0.5vw,  1.5rem);
   --space-3:  clamp(1.5rem,  1.3rem + 0.8vw,  2.25rem);
   --space-4:  clamp(2rem,    1.7rem + 1vw,    3rem);

   /* === COLORS === */
   --color-primary:    #0E2442;
   --color-secondary:  #2E2E2E;
   --color-tertiary: #1D4987;
   --color-cuartiary: #111827; /* yes, I can, I am doing it, Im inventing "cuartiary" */
   --color-background: #FFFFFF;
   --color-background-2: hsl(from var(--color-background) h s 97% / 100%);
   --font-light:  #1d1d1d;
   --font-light-2:  hsl(from var(--font-light) h s 50% / 100%);
   --font-light-3:  hsl(from var(--font-light) h s 70% / 100%);
   --font-dark: #F5FBFF; 

  /* === LAYOUT TOKENS === */
   --component-width: clamp(360px, 100vw, 1250px);

  /* === BASE TYPOGRAPHY === */  
   --font-primary: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
}