:root {
   /* === UTOPIA TYPE SCALE (lo que pasaste) === */
   --step--2: clamp(0.4924rem, 0.464rem + 0.1265vw, 0.5628rem);
   --step--1: clamp(0.6564rem, 0.6185rem + 0.1686vw, 0.7502rem);
   --step-0:  clamp(0.875rem,  0.8244rem + 0.2247vw, 1rem);
   --step-1:  clamp(1.1664rem, 1.099rem + 0.2996vw, 1.333rem);
   --step-2:  clamp(1.5548rem, 1.4649rem + 0.3993vw, 1.7769rem);
   --step-3:  clamp(2.0725rem, 1.9528rem + 0.5323vw, 2.3686rem);
   --step-4:  clamp(2.7627rem, 2.603rem + 0.7095vw, 3.1573rem);
   --step-5:  clamp(3.6826rem, 3.4698rem + 0.9458vw, 4.2087rem);

  --type--3: clamp(0.25rem,   0.25rem   + 0vw,      0.25rem);
  --type--2: clamp(0.4375rem, 0.4122rem + 0.1124vw, 0.5rem);
  --type--1: clamp(0.6875rem, 0.6622rem + 0.1124vw, 0.75rem);
  --type-0:  clamp(0.890rem, 0.9367rem + 0.160vw, 1.2rem);
  --type-1:  clamp(1.3125rem, 1.2367rem + 0.3371vw, 1.5rem);
  --type-2:  clamp(1.75rem,   1.6489rem + 0.4494vw, 2rem);
  --type-3:  clamp(2.625rem,  2.4733rem + 0.6742vw, 3rem);
  --type-4:  clamp(3.5rem,    3.2978rem + 0.8989vw, 4rem);
  --type-5:  clamp(5.25rem,   4.9466rem + 1.3483vw, 6rem);

   /* === SPACING ===*/
   --space--2: clamp(0.25rem, 0.23rem + 0.1vw, 0.375rem);
   --space--1: clamp(0.375rem,0.34rem + 0.2vw, 0.5rem);
   --space-0:  clamp(0.5rem,  0.45rem + 0.25vw,0.75rem);
   --space-1:  clamp(0.75rem, 0.7rem + 0.3vw,  1rem);
   --space-2:  clamp(1rem,    0.9rem + 0.5vw,  1.5rem);
   --space-3:  clamp(1.5rem,  1.3rem + 0.8vw,  2.25rem);
   --space-4:  clamp(2rem,    1.7rem + 1vw,    3rem);

   /* === COLORS === */
   --color-primary:    #012D4F;
   --color-secondary:  #2E2E2E;
   --color-tertiary: #1D4987;
   --color-background: #FFFFFF;
   --font-light:  #1d1d1d;
   --font-dark: #F5FBFF; 

  /* === LAYOUT TOKENS === */
   --component-width: clamp(360px, 100vw, 1250px);

  /* === BASE TYPOGRAPHY === */  
   --font-primary: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
}