// Variables SASS (compilación)
$color-primary:    #012D4F;
$color-secondary:  #2E2E2E;
$color-background: #FFFFFF;

$font-primary: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
$component-width: clamp(360px, 100vw, 1250px);
