// BASE SIZING FOT TYPOGRAPHY
html {
    font-size: var(--type-0);
    scroll-behavior: smooth;
}

section, header{
    width: var(--component-width);
}
section{
    margin: var(--step-5) 0;
    padding: 0 var(--step-1);
}

// OTHER SIZES
h1 { font-size: var(--type-4); line-height: 1.1; }
h2 { font-size: var(--type-3); line-height: 1.15; font-weight: 700; }
h3 { font-size: var(--type-2); line-height: 1.2; }
h4 { font-size: var(--type-2); line-height: 1.25; }
h5 { font-size: var(--type-1); line-height: 1.3; }
h6 { font-size: var(--type-0); line-height: 1.35; }

small { font-size: var(--type--1); }
